body {
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

body h1 {
  font-weight: bold;
  font-size: 44px;
  line-height: 56px;
  letter-spacing: 0.2px;
}

body h2 {
  font-size: 36px;
  font-weight: bold;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: 0.1px;
}

body h3 {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.1px;
}

body a {
  text-decoration: none;
  color: #222222;
}

body p {
  color: #737b7d;
}

.max-width {
  width: 90%;
  margin: 0 auto;
  max-width: 1280px;
}

.padding-top {
  padding-top: 24px;
}

.padding-bottom {
  padding-bottom: 24px;
}

.padding-both {
  padding-top: 24px;
  padding-bottom: 24px;
}

@media only screen and (min-width: 1024px) {
  .padding-both.tall {
    padding-top: 96px;
    padding-bottom: 48px;
  }
  .maps-details,
  .contact-maps-content {
    box-sizing: border-box;
    width: 50%;
  }
}

.note-div {
  background: #f2efff;
}

.note-div p {
  margin: 0 auto;
  text-align: center;
  padding: 5px 0;
  color: #222222;
}

.note-display {
  margin: 0 auto;
  width: 375px;
  height: 22px;
  left: 533px;
}

.padding-left {
  padding-left: 24px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: auto;
}

nav ul li {
  display: inline-block;
  height: 18px;
  padding: 30px;
  letter-spacing: 0.2px;
  text-transform: capitalize;
}

nav ul li a {
  font-weight: 600;
  font-size: normal;
}

.top-section h2,
.top-section p {
  margin: 6px 0;
  padding: 0;
}

header {
  background: #fff;
  height: 100px;
  position: sticky;
  top: 0;
  z-index: 9;
}

header .max-width {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  justify-content: space-between;
  align-items: center;
}

header .wrapper-logo {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 170px;
  -ms-flex: 0 0 170px;
  flex: 0 0 170px;
  margin: 20px 0;
}

header .wrapper-logo img {
  width: 130px;
  height: 26px;
}

header nav {
  display: none;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 100%;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  text-align: right;
}

header nav li a {
  display: inline-block;
}

header nav li a.active {
  font-weight: 700;
  color: #0000b4;
}

@media only screen and (min-width: 1024px) {
  header .wrapper-logo img {
    padding-top: 0;
  }
  header nav {
    display: block;
  }
}

footer {
  width: 100%;
  margin-top: 75px;
  background: #ffffff;
}

footer a {
  color: #222222;
  padding: 12px;
}

.footer-div {
  display: flex;
  flex-wrap: wrap;
}

.col-half {
  margin: auto;
}

.col-quarter {
  display: inline-block;
  margin: auto 0;
}

.copyright {
  padding: 5px;
  text-align: center;
}

.contact-form {
  width: 100%;
  background: #f7f7f7;
  height: 400px;
}

.blog-roll .blog-entry {
  font-size: 0.9em;
}

@media only screen and (min-width: 1024px) {
  .blog-roll .blog-entry {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .blog-roll .blog-entry .inner {
    padding-left: 30px;
  }
}

@media only screen and (min-width: 1024px) {
  .blog-post .page-thumb {
    padding: 0 48px 0 0;
  }
  .blog-post .page-thumb img {
    width: 100%;
  }
}

.blog-post h2 {
  margin: 0 0 12px;
}

.blog-post .blog-meta {
  margin-top: 0;
  font-weight: 300;
  font-size: 24px;
}

.blog-post .blog-meta .author {
  padding-left: 1em;
}

@media only screen and (min-width: 1024px) {
  .padding-both.tall {
    padding-top: 96px;
    padding-bottom: 48px;
  }
}

/* button area in contact form */

.btn {
  border: none;
  font-size: 14px;
  line-height: 18px;
  border-radius: 2px;
  letter-spacing: 0.3px;
  padding: 12px 28px;
}

.primary-btn {
  background: #715cdd;
  color: #fff;
}

.primary-btn:hover {
  cursor: pointer;
}

.secondary-btn {
  border: 1px solid #715cdd;
  color: #715cdd;
}

.tertiary-btn {
  background: #ffffff;
  color: #715cdd;
  font-weight: bold;
}

.text-field textarea {
  width: 550px;
  height: 120px;
  background-color: #f3f3f3;
  padding: 10px 15px;
  border: none;
}

/* Blog list section */

.blog-container {
  margin: 0 auto;
  margin-top: 53px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.blog-container .blog-list {
  display: flex;
  border: 2px solid #dacccc33;
  border-radius: 3px;
  margin-bottom: 12px;
}

.blog-list > a {
  background-color: #f2f2f2;
  text-align: center;
}

.blog-list-img {
  width: 329px;
  height: 340px;
}

.blog-column-left,
.blog-column-right {
  display: flex;
  flex-direction: column;
  padding: 60px;
}

.blog-column-left {
  width: 690px;
}

.blog-column-right {
  width: 360px;
}

.blog-content h3 {
  color: #222222;
}

.blog-column-left .blog-content a {
  color: #715cdd;
}

/* blog individual page */

.blog-container .blog-detail {
  width: 690px;
}

.blog-content {
  padding: 15px;
}

/* home page */

.hero-description {
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.3px;
  margin-bottom: 40px;
  color: #ffffff;
}

.blogpost-readmore {
  color: #715cdd;
}

.card-cta {
  display: flex;
  margin-top: auto;
}

.contact-form {
  width: 100%;
  background: #f7f7f7;
  height: 400px;
}

.blog-roll .blog-entry {
  font-size: 0.9em;
}

/* New Custom */

.hero-banner {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  background: #715cdd;
  padding: 63px;
  color: #fff;
  flex-wrap: wrap;
}

.hero-content,
.home-content {
  text-align: left;
  margin-top: 65px;
  width: 475px;
}

.home-content p {
  margin-bottom: 32px;
}

.home-advisor-section {
  background: #fff;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  margin-top: 21px;
  margin: 63px;
  flex-wrap: wrap;
}

.member-section {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 27px;
  text-align: center;
  margin-top: 43px;
}

.member-main-section {
  background: #f7f7f7;
  margin: auto;
  padding: 34px;
}

.member-head {
  text-align: center;
}

.content-section {
  width: 350px;
}

.content-section a {
  font-weight: bold;
  color: #715cdd;
}

.home-featured-blogs {
  display: flex;
  padding: 20px;
  justify-content: center;
  text-align: left;
  flex-wrap: wrap;
}

.community-section {
  text-align: center;
}

.community-head {
  padding: 19px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.community-head a {
  display: inline-block;
  margin: auto 0 auto 0;
}

.featured-blog {
  width: 526px;
  border: #f7f5f5 solid;
  margin: 4px 33px;
}

.featured-content {
  padding: 16px;
}

.demo-section {
  display: flex;
  justify-content: center;
  background: #f7f7f7;
  padding: 60px 0px;
  flex-wrap: wrap;
}

.cards {
  width: 410px;
  background: #ffffff;
  border: 1px solid #e5e5e5;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 15px;
  margin-left: 24px;
  display: flex;
  flex-direction: column;
}

/* home page ends here */

/* About us page start */

.about-content {
  color: #222222;
  text-align: left;
  margin-top: 35px;
  width: 475px;
}

.about-desc {
  color: #737b7d;
}

.mission-content-section {
  display: flex;
  width: 350px;
}

.mission-icon {
  width: 50px;
  height: 50px;
  margin-top: 12px;
  display: inline-block;
  padding-right: 32px;
}

.mission-section-content {
  display: inline-block;
}

.mission-content-section {
  width: 380px;
}

.mission-content-top {
  display: flex;
  justify-content: space-evenly;
  text-align: left;
}

.mission-content-bottom {
  display: flex;
  justify-content: space-evenly;
  text-align: left;
}

.story-advisor-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 35px;
  padding: 63px;
}

.about-team-section {
  background: #f7f7f7;
  text-align: center;
}

.story-content {
  text-align: left;
  margin-top: 35px;
  width: 475px;
}

.story-content p {
  margin-bottom: 32px;
}

.team-head-section {
  padding-top: 64px;
  width: auto;
  max-width: 920px;
  margin: auto;
}

.team-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  padding-top: 35px;
  margin: 5px;
}

.team-details {
  padding: 0px 15px;
}

/* contact page */

.contact-page-section,
.contact-maps-section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 45px 0;
}

.contact-page-content {
  width: 50%;
  padding-top: 55px;
  padding-right: 80px;
  box-sizing: border-box;
}

.contact-page-form {
  width: 50%;
  box-sizing: border-box;
}

.contact-page-content > h2 {
  font-weight: bold;
  font-size: 44px;
  line-height: 56px;
}

.contact-page-content > p {
  font-size: 16px;
  color: #737b7d;
}

.input-fields,
.text-field {
  margin-bottom: 30px;
}

.input-fields input {
  width: 90%;
  background-color: #f3f3f3;
  padding: 16px 15px;
  border: none;
}

/* .text-field {
  padding: 10px 15px;
  margin: 16px 0px;
} */

.text-field input {
  width: 90%;
  height: 120px;
  background-color: #f3f3f3;
  padding: 25px 15px;
  border: none;
}

.contact-maps-content {
  margin-top: 70px;
}

/* blog list */

.blog-page-banner {
  background: #715cdd;
  text-align: center;
}

.blog-page-content {
  color: #fff;
  text-align: center;
  display: inline-block;
  width: 482px;
  padding: 58px 0px 58px 0px;
}

.error-page {
  text-align: center;
}

/* media queries one iphone x /all phone */

@media screen and (min-width: 375px) and (max-width: 767px) {
  .footer-div {
    flex-direction: column;
  }
  .col-half {
    padding: 0px;
    margin: 0px;
  }
  .col-quarter {
    padding: 15px 0;
  }
  .nav-ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    margin: 0px;
  }
  nav ul li {
    padding: 15px 0;
  }

  body h1 {
    font-weight: bold;
    font-size: 29px;
    line-height: 38px;
    letter-spacing: 0.2px;
  }
  body h2 {
    font-size: 36px;
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.1px;
  }
  body h3 {
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.1px;
  }
  .btn {
    border: none;
    font-size: 12px;
    line-height: 18px;
    border-radius: 2px;
    letter-spacing: 0.3px;
    padding: 8px 21px;
  }
  .blog-page-content {
    color: #fff;
    text-align: center;
    display: inline-block;
    padding: 58px 0px 58px 0px;
    width: 200px;
  }
  .blog-list > img {
    max-width: 100%;
  }
  .blog-list-img {
    margin: auto;
  }
  .blog-container .blog-list {
    border: 2px solid #dacccc33;
    border-radius: 3px;
    display: contents;
    margin-bottom: 12px;
  }
  .hero-banner > img {
    max-width: 100%;
    margin: 27px 49px 0px 0px;
  }
  .home-content {
    text-align: left;
    margin-top: 9px;
    width: 475px;
  }
  .home-advisor-section > img {
    max-width: 100%;
    margin: 27px 49px 0px 0px;
  }
  .featured-blog {
    width: 90%;
    margin: 5px auto;
  }
  .featured-blog > img {
    width: 100%;
  }
  .member-section {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 27px;
    text-align: center;
    margin-top: 14px;
  }
  .cards {
    width: 260px;
    background: #ffffff;
    border: 1px solid #e5e5e5;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 22px;
    display: flex;
    margin-left: -5px;
    margin-bottom: 15px;
  }
  .mission-content-top {
    display: flex;
    justify-content: space-evenly;
    text-align: left;
    flex-wrap: wrap;
  }
  .mission-content-bottom {
    display: flex;
    justify-content: space-evenly;
    text-align: left;
    flex-wrap: wrap;
  }
  .mission-content-section {
    width: 313px;
  }
  .story-advisor-section > img {
    max-width: 100%;
  }
  .team-head-section {
    padding-top: 64px;
    width: 353px;
    margin: auto;
  }
  .contact-page-content {
    max-width: 90%;
    width: auto;
    padding: 55px 0;
  }
  .blog-container {
    padding: 26px;
  }
  .blog-column-right {
    padding: 0;
  }
  .contact-page-form {
    width: 100%;
  }
  .maps-details {
    overflow: hidden;
  }
}

/* media queries two for ipad  */

@media screen and (min-width: 768px) and (max-width: 1024px) {
  body h1 {
    font-weight: bold;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 0.1px;
  }

  header nav {
    display: block;
  }

  .hero-banner {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    background: #715cdd;
    padding: 63px;
    color: #fff;
    flex: none;
  }

  .home-content {
    width: 50%;
  }

  .hero-banner > img {
    width: 50%;
    margin: 27px 0px 0px 0px;
  }

  .home-advisor-section {
    background: #fff;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin-top: 21px;
    margin: 63px;
    flex-wrap: nowrap;
  }
  .home-advisor-section > img {
    width: 50%;
  }
}
